<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Danh sách Processes</title>
  </head>
  <body>
    <h2>Danh sách Processes</h2>
    <a href="/dashboard">Dashboard</a>
    <a href="/management/processes/add">Thêm processes</a>
    <table border="1">
      <thead>
        <tr>
          <th>#</th>
          <th>Processes</th>
          <th>Procedure</th>
          <th>Department</th>
          <th>Added by</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="processTableBody"></tbody>
    </table>
    <script>
      async function loadProcessList() {
        try {
          const res = await fetch("/management/processes/list");
          const data = await res.json();
          if (data.success) {
            const tbody = document.getElementById("processTableBody");
            tbody.innerHTML = "";
            data.data.forEach((prc, index) => {
              const row = `<tr>
                <td>${index + 1}</td>
                <td>${prc.name}</td>
                <td>${prc.procedure_name}</td>
                <td>${prc.department_name}</td>
                <td>${prc.username}</td>
                <td>
                  <a href = "/management/processes/edit/${prc.id}">Sửa</a>
                  <a href ="#" onclick = "deleteProcess(${prc.id})" >Xóa</a>
                  </td>
                </tr>`;
              tbody.innerHTML += row;
            });
          } else {
            alert(data.message || "Không tìm thấy dữ liệu");
          }
        } catch (err) {
          console.error("Lỗi fetch dữ liệu", err);
        }
      }

      async function deleteProcess(id) {
        if (!confirm("Bạn có chắc chắn muốn xóa process này?")) return;
        try {
          const res = await fetch(`/management/processes/delete/${id}`);
          const data = await res.json();
          alert(data.message);
          loadProcessList();
        } catch (err) {
          console.error("Lỗi xóa dữ liệu:", err);
        }
      }

      window.onload = loadProcessList;
    </script>
  </body>
</html>
