<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sửa danh mục</title>
  </head>
  <body>
    <h2>Sửa danh mục</h2>
    <a href="/management/categories">Quay lại</a>
    <form id="editCategoryForm">
      <label for="name">Tên danh mục</label><br />
      <input type="text" name="name" id="name" required />
      <button type="submit">Cập nhật</button>
    </form>
    <script>
      const categoryId = window.location.pathname.split("/").pop();

      async function loadCategory() {
        try {
          const res = await fetch(
            `/management/categories/detail/${categoryId}`
          );
          const data = await res.json();

          if (data.success) {
            document.getElementById("name").value = data.data.name;
          } else {
            alert(data.message || "Không tìm thấy dữ liệu");
          }
        } catch (err) {
          console.error("Lỗi fetch dữ liệu:", err);
        }
      }

      document
        .getElementById("editCategoryForm")
        .addEventListener("submit", async (e) => {
          e.preventDefault();
          const name = document.getElementById("name").value;

          try {
            const res = await fetch(
              `/management/categories/update/${categoryId}`,
              {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({ name }),
              }
            );

            const data = await res.json();
            alert(data.message);

            if (data.success) {
              window.location.href = "/management/categories";
            }
          } catch (err) {
            console.error("Lỗi cập nhật", err);
          }
        });
      window.onload = loadCategory;
    </script>
  </body>
</html>
